.edit{
    display:flex;
    flex-direction: space-between;
    margin-left:7rem;
    padding:2rem 0rem 0rem 3rem;
    margin-bottom: 4rem;
    min-height:550px;

    &__sticker{
        width:25%;
        height:100%;
        padding-top:1rem;
    }

    &__picture{
        width:70%;
        padding:1rem 6rem 1rem 1rem;
   

        &--border{
          
            width:100%;
            height: 80%;
            border: 4px dashed #F7FB29;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}